main {
  width: 90%;
  margin: 0 auto;
}

/* ----------------------------------- header_section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 90%; */
}

nav a,
.posts_info a {
  color: rgb(45, 52, 52);
  text-decoration: none;
}

nav a:hover {
  color: rgb(87, 90, 90);
}

.logo {
  font-weight: 600;
  font-size: 1.2rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

nav ul li {
  list-style: none;
}

/* ----------------------------------- post_section */
.posts {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
}

.post_section img {
  width: 45%;
}

.post_auther_info_name {
  font-weight: 500;
  margin-right: .5rem;
}

.post_auther_info_name {
  font-weight: 500;
  margin-right: .5rem;
}

.post_auther_info_date {
  font-weight: 500;
  font-size: .9rem;
  color: rgb(178, 189, 189);
}

.posts_info {
  width: 45%;
}