.edit_post_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    width: 70vw;
    min-height: 120%;
    border-radius: 2px solid red;
}

.edit_post {
    border-radius: 1rem;
    object-fit: fill;
    border: 2px solid rgb(225, 222, 222);
}

.edit_post::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: rgba(43, 43, 43, 0.267);
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    /* z-index: 20; */
}

.edit_post_cover_img {
    overflow: hidden;
    width: 95%;
    height: 30vw;
    border-radius: 1rem;
    margin: 2rem 0;
    /* border: 2px solid rgb(13, 255, 0); */
}


.edit_post_upload_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 3rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.599);
    position: absolute;
}

.edit_post_upload_icon {
    width: 30%;
    height: 50%;
    margin: 0 auto;
    transition: all .3s ease-in-out;
}

.edit_post:hover .edit_post_upload_icon {
    transform: scale(1.3);
}

.edit_form_content_h3 {

    text-align: left;
    width: 91%;
    color: rgb(156, 156, 156);
    /* font-weight: 700; */
    margin-bottom: .9rem;
    /* border: 2px solid rgb(13, 255, 0); */
}


.edit_btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(13, 255, 0); */
}

.edit_btn {
    margin: 5rem;
    /* border: 2px solid rgb(13, 255, 0); */
}